# Data Science Tools and Ecosystem 


In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala
6. C++
7. Julia
8. Javascript
9. Php
10. Go
11. Ruby
12. Visual Basic

Some of the commonly used libraries used by Data Scientists include: 

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-Learn
6. Keras
7. TensorFlow
8. PyTorch
9. Apache Spark
10. Vegas

| Data Science Tools |
| ------------------|
| Anaconda |
| Jupyter Notebooks |
| R Studio |
| Spyder |
| Zeppeline |

###  Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60

(200//60)

3

**Objectives:** 
* Add comments to code cells
* Createw markdown cells
* Add ordered and unordered lists to markdown cells
* Format content of markdown cells with heading styles

## Author(s)
Suman Ghosh